html, body {
  background-color: #f6f6f6;
  overflow: hidden;
}

@keyframes shake {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  15% {
    transform: translateX(-30px) rotate(-20deg);
  }
  45% {
    transform: translateX(30px) rotate(20deg);
  }
  60% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.shake {
  animation: shake 1s infinite;
  animation-timing-function: linear;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-default {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  z-index: 100;
}

a {
  cursor: pointer;
}

.pokemon-column {
  overflow-y: scroll;
  padding: 0px;
  min-width: 350px;
  height: calc(100% - 62px);
  max-height: calc(100vh - 62px);
  -webkit-overflow-scrolling: touch;
}

.dropdown-menu {
  max-height: 275px;
  overflow-y: auto;
}

.demo-card-wide {
  min-height: 120px;
  margin-bottom: 12px;
  justify-content: center;
}

.demo-card-wide.mdl-card {
  width: calc(100% - 16px);
  margin-left: 8px;
  margin-right: 8px;
}

.demo-card-wide > div {
  display: inline-block;
  color: black;
  font-size: 1.2em;
  width: 100%;
  max-height: 120px;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

entry {
  cursor: pointer;
}

.pokemon-number {
  position: absolute;
  font-size: 4em;
  margin-top: 65px;
  z-index: -1;
  color: lightgray;
}

.pokemon-sprite {
  background-image: url('/img/sprites.png');
  display: inline-block;
  min-height: 96px;
  max-height: 96px;
  min-width: 96px;
  max-width: 96px;
  vertical-align: middle;
}

.type-badge {
  background-image: url('/img/type-badges.png');
  display: inline-block;
  min-height: 25px;
  max-height: 25px;
  min-width: 25px;
  max-width: 25px;
  margin-right: 4px;
}

.pokemon-name {
  margin-left: 12px;
}

.type-stack {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.pokemon-info-name {
    font-weight: bold;
    margin-top: 8px;
}

.pokemon-type {
  background-image: url('/img/types.png');
  min-height: 28px;
  max-height: 28px;
  min-width: 64px;
  max-width: 64px;
  margin: 6px;
}

.sugimori-art {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
}

.sugimori-loading {
  padding: 75px;
}

.sugimori-card {
  width: 100%;
  min-height: 332px !important;
}

.sugimori-card > div {
  text-align: center;
}

.demo-card-info {
  min-height: unset;
  min-height: auto;
  margin-top: 12px;
  width: 100%;
}

.demo-card-info:first-child {
  margin-top: 0px;
}

.demo-card-info:last-child {
  margin-bottom: 12px;
}

.demo-card-info > div {
  width: 100%;
  color: black;
}

.dex-version {
  font-weight: bold;
  display: block;
}

.line-info {
  border-bottom: 1px solid lightgray;
  padding: 4px;
}

.demo-card-info > div > .line-info:last-child {
  border-bottom: 0px solid transparent;
}

.line-name {
  font-weight: bold;
}

.line-value {
  float: right;
}

.fa-mars {
  color: lightblue;
}

.fa-venus {
  color: pink;
}

.info-panel {
  background-color: #f6f6f6;
  z-index: 3;
  max-width: calc(100vw - 350px);
  padding-left: 2px;
  padding-right: 2px;
}

.info-column {
  overflow-y: auto;
  height: calc(100vh - 62px);
  padding-left: 0px;
  -webkit-overflow-scrolling: touch;
}

.ability-stack > div {
  border-bottom: 1px solid lightgray;
  padding-top: 6px;
  padding-bottom: 6px;
}

.ability-stack > div:last-child {
  border-bottom: 0px solid transparent;
  padding-bottom: 0px;
}

.ability-stack > div:first-child {
  padding-top: 0px;
}

.double-line-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 4px;
}

.double-line-info > .line-value > div {
  text-align: right;
}

@media (max-width: 767px) {
  .navbar-form {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
  }

  .navbar-collapse {
    border: 0px !important;
  }

  .navbar-nav {
    margin: 0px !important;
  }

  .info-panel-slide-out {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    margin-left: 100%;
    transition: margin-left .3s ease-in;
  }

  .info-panel-slide-in {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    margin-left: 0%;
    transition: margin-left .3s ease-out;
  }

  .tcg-panel-slide-out {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    margin-left: 100%;
    transition: margin-left .3s ease-in;
  }

  .tcg-panel-slide-in {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    margin-left: 0%;
    transition: margin-left .3s ease-out;
  }
  
  .pokemon-column {
    -webkit-overflow-scrolling: touch;
    position: absolute;
    height: calc(100% - 62px);
    height: calc(100vh - 62px);
    width: 100%;
    padding-right: 0px;
  }
  
  .info-panel {
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 62px);
    overflow-y: auto;
    padding-left: 12px;
    max-width: unset;
    max-width: auto;
  }

  .tcg-panel {
    position: absolute;
    top: 62px;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 62px);
    overflow-y: auto;
    max-width: unset;
    max-width: auto;
    background-color: #f6f6f6;
    z-index: 4;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .info-column {
    height: unset;
    height: auto;
    overflow: hidden;
    padding-bottom: 4px;
  }

  .flickity-prev-next-button {
    display: none;
  }
}

@media (min-width: 768) {
  .pokemon-column {
    position: absolute;
    top: 62px;
    left: 0px;
    height: calc(100% - 62px);
    max-height: calc(100vh - 62px);
  }
  
  .info-column {
    padding-left: 0px;
    padding-right: 12px;
  }
  
  .info-panel {
    max-width: calc(100% - 360px);
    float: right;
  }
}

.centered-line-info {
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
}

.root-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.evo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  cursor: pointer;
}

.evo-explain {
  text-align: center;
  margin-bottom: 6px;
}

.evo-explain-final {
  margin-bottom: 0px;
}

.move-entry {
  display: flex;
  align-items: center;
  margin: 2px;
}

.move-detail {
  color: #bbbbbb;
}

.moves-header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.search-count {
  text-align: center;
  color: #777777;
  margin-bottom: 120px;
}
@media (min-width: 1200px) {
  @media (max-width: 1800px) {
    .two-column {
      display: inline-block;
      width: 49.5%;
      height: calc(100vh - 62px);
      overflow-y: auto;
    }
    
    .two-column .info-column {
      width: 100%;
      height: unset !important;
      height: auto !important;
    }
  }
}

@media (max-width: 1199px) {
  @media (min-width: 767px) {
    .info-panel {
      height: calc(100% - 62px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    
    .two-column {
      height: unset !important;
      height: auto !important;
      overflow-y: auto;
    }
    
    .two-column .info-column {
      height: unset !important;
      height: auto !important;
      -webkit-overflow-scrolling: touch;
    }
  }
}

.demo-card-welcome {
  width: 50vw;
}

.demo-card-welcome > div {
  text-align: center;
  width: 100%;
}

.demo-card-welcome > div > h4 {
  margin-top: 0px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

.disclaimer {
  color: #eeeeee;
}

.opt-in {
  line-height: 36px;
  text-align: left;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    margin: 0px !important;;
}

input {
    vertical-align: middle;
    position: relative;
    margin: 0px !important;
    padding: 0px !important;
}

.ad-card {
  height: 82px !important;
  min-height: unset;
  min-height: auto;
}

.ad-card > .mdl-card__supporting-text {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.info-column .ad-card {
    margin: 12px 0px 12px 0px;
    width: 100%;
}

.top-ad {
  position: absolute;
  min-width: 350px;
  left: 0px;
  z-index: 2;
  padding: 0px;
  background-color: #f6f6f6;
}

.ad-offset {
  margin-top: 96px;
  height: calc(100% - 160px);
  max-height: calc(100vh - 160px);
}

.form-sprite {
  width: 96px;
  height: 96px;
}

.pokemon-form {
  border-top: 1px solid lightgray;
}

.form-sprite {
  background-image: url('/img/forms.png');
  display: inline-block;
  min-height: 96px;
  max-height: 96px;
  min-width: 96px;
  max-width: 96px;
  vertical-align: middle;
}

select {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid darkgray;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align: center;
  text-align-last: center;
  -ms-text-align-last: center;
}

select::-ms-expand {
  display: none;
}

img.card {
  width: 240px;
  height: 330px;
  margin-left: 8px;
  margin-right: 8px;
}

.tcg-card {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.type-line .pokemon-type {
    display: inline-block;
}

.progress {
  border-radius: 0px;
  height: 3px;
  margin-bottom: 9px;
}

.progress-bar {
  width: 100vw;
}

entry {
  /* Stupid Firefox */
  display: inline-block;
  width: 100%;
}

.tcg-button {
  cursor: pointer;
}

.desktop-tcg-panel {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4;
  height: calc(100vh - 62px);
  background-color: #f6f6f6;
  overflow-y: scroll !important;
  padding-left: 0px;
  padding-right: 0px;
}

.hide-scrollbars, .hide-scrollbars > .two-column, .hide-scrollbars > .two-column > .info-column {
  overflow: hidden;
}

.tcg-back-button {
  position: absolute;
  top: 4px;
  left: 4px;
  color: gray;
}

.tcg-column {
  padding-right: 8px;
}

@media (max-width: 992px) {
  .tcg-column {
    height: unset !important;
    height: auto !important;
  }
}

.tcg-panel-md {
  position: absolute;
  top: 0px;
  background-color: #F6F6F6;
  z-index: 4;
  height: calc(100vh - 62px);
  overflow-y: auto;
}

[name="pokemon-search"] .btn-default {
  height: 34px !important;
}

[name="pokemon-search"] input {
  padding-left: 8px !important;
  padding-right: 8px !important;
  border-right: 0px;
}

.clear-btn {
  border-left: 0px;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-spacer {
  flex-grow: 100000;
}