.navbar-default.navbar-black {
  background-color: #000000;
  border-color: #707070;
}
.navbar-default.navbar-black .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-brand:hover,
.navbar-default.navbar-black .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-nav > li > a:hover,
.navbar-default.navbar-black .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-nav > .active > a,
.navbar-default.navbar-black .navbar-nav > .active > a:hover,
.navbar-default.navbar-black .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #707070;
}
.navbar-default.navbar-black .navbar-nav > .open > a,
.navbar-default.navbar-black .navbar-nav > .open > a:hover,
.navbar-default.navbar-black .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #707070;
}
.navbar-default.navbar-black .navbar-toggle {
  border-color: #707070;
}
.navbar-default.navbar-black .navbar-toggle:hover,
.navbar-default.navbar-black .navbar-toggle:focus {
  background-color: #707070;
}
.navbar-default.navbar-black .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-black .navbar-collapse,
.navbar-default.navbar-black .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-black .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #707070;
  }
}.navbar-default.navbar-blue {
  background-color: #1476f9;
  border-color: #62b6e5;
}
.navbar-default.navbar-blue .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-blue .navbar-brand:hover,
.navbar-default.navbar-blue .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-blue .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-blue .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-blue .navbar-nav > li > a:hover,
.navbar-default.navbar-blue .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-blue .navbar-nav > .active > a,
.navbar-default.navbar-blue .navbar-nav > .active > a:hover,
.navbar-default.navbar-blue .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #62b6e5;
}
.navbar-default.navbar-blue .navbar-nav > .open > a,
.navbar-default.navbar-blue .navbar-nav > .open > a:hover,
.navbar-default.navbar-blue .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #62b6e5;
}
.navbar-default.navbar-blue .navbar-toggle {
  border-color: #62b6e5;
}
.navbar-default.navbar-blue .navbar-toggle:hover,
.navbar-default.navbar-blue .navbar-toggle:focus {
  background-color: #62b6e5;
}
.navbar-default.navbar-blue .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-blue .navbar-collapse,
.navbar-default.navbar-blue .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-blue .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-blue .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #62b6e5;
  }
}.navbar-default.navbar-brown {
  background-color: #8b4513;
  border-color: #b28362;
}
.navbar-default.navbar-brown .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-brand:hover,
.navbar-default.navbar-brown .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-nav > li > a:hover,
.navbar-default.navbar-brown .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-nav > .active > a,
.navbar-default.navbar-brown .navbar-nav > .active > a:hover,
.navbar-default.navbar-brown .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #b28362;
}
.navbar-default.navbar-brown .navbar-nav > .open > a,
.navbar-default.navbar-brown .navbar-nav > .open > a:hover,
.navbar-default.navbar-brown .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #b28362;
}
.navbar-default.navbar-brown .navbar-toggle {
  border-color: #b28362;
}
.navbar-default.navbar-brown .navbar-toggle:hover,
.navbar-default.navbar-brown .navbar-toggle:focus {
  background-color: #b28362;
}
.navbar-default.navbar-brown .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-brown .navbar-collapse,
.navbar-default.navbar-brown .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-brown .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #b28362;
  }
}.navbar-default.navbar-gray {
  background-color: #707070;
  border-color: #a9a9a9;
}
.navbar-default.navbar-gray .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-gray .navbar-brand:hover,
.navbar-default.navbar-gray .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-gray .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-gray .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-gray .navbar-nav > li > a:hover,
.navbar-default.navbar-gray .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-gray .navbar-nav > .active > a,
.navbar-default.navbar-gray .navbar-nav > .active > a:hover,
.navbar-default.navbar-gray .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #a9a9a9;
}
.navbar-default.navbar-gray .navbar-nav > .open > a,
.navbar-default.navbar-gray .navbar-nav > .open > a:hover,
.navbar-default.navbar-gray .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #a9a9a9;
}
.navbar-default.navbar-gray .navbar-toggle {
  border-color: #a9a9a9;
}
.navbar-default.navbar-gray .navbar-toggle:hover,
.navbar-default.navbar-gray .navbar-toggle:focus {
  background-color: #a9a9a9;
}
.navbar-default.navbar-gray .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-gray .navbar-collapse,
.navbar-default.navbar-gray .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-gray .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-gray .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-gray .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-gray .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-gray .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-gray .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-gray .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-gray .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #a9a9a9;
  }
}.navbar-default.navbar-green {
  background-color: #157024;
  border-color: #439424;
}
.navbar-default.navbar-green .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-green .navbar-brand:hover,
.navbar-default.navbar-green .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-green .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-green .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-green .navbar-nav > li > a:hover,
.navbar-default.navbar-green .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-green .navbar-nav > .active > a,
.navbar-default.navbar-green .navbar-nav > .active > a:hover,
.navbar-default.navbar-green .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #439424;
}
.navbar-default.navbar-green .navbar-nav > .open > a,
.navbar-default.navbar-green .navbar-nav > .open > a:hover,
.navbar-default.navbar-green .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #439424;
}
.navbar-default.navbar-green .navbar-toggle {
  border-color: #439424;
}
.navbar-default.navbar-green .navbar-toggle:hover,
.navbar-default.navbar-green .navbar-toggle:focus {
  background-color: #439424;
}
.navbar-default.navbar-green .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-green .navbar-collapse,
.navbar-default.navbar-green .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-green .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-green .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-green .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-green .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #439424;
  }
}.navbar-default.navbar-pink {
  background-color: #d389d4;
  border-color: #e362e5;
}
.navbar-default.navbar-pink .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-pink .navbar-brand:hover,
.navbar-default.navbar-pink .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-pink .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-pink .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-pink .navbar-nav > li > a:hover,
.navbar-default.navbar-pink .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-pink .navbar-nav > .active > a,
.navbar-default.navbar-pink .navbar-nav > .active > a:hover,
.navbar-default.navbar-pink .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #e362e5;
}
.navbar-default.navbar-pink .navbar-nav > .open > a,
.navbar-default.navbar-pink .navbar-nav > .open > a:hover,
.navbar-default.navbar-pink .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #e362e5;
}
.navbar-default.navbar-pink .navbar-toggle {
  border-color: #e362e5;
}
.navbar-default.navbar-pink .navbar-toggle:hover,
.navbar-default.navbar-pink .navbar-toggle:focus {
  background-color: #e362e5;
}
.navbar-default.navbar-pink .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-pink .navbar-collapse,
.navbar-default.navbar-pink .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-pink .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-pink .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-pink .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-pink .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-pink .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-pink .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-pink .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-pink .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #e362e5;
  }
}.navbar-default.navbar-purple {
  background-color: #8b00a3;
  border-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-brand:hover,
.navbar-default.navbar-purple .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-nav > li > a:hover,
.navbar-default.navbar-purple .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-nav > .active > a,
.navbar-default.navbar-purple .navbar-nav > .active > a:hover,
.navbar-default.navbar-purple .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-nav > .open > a,
.navbar-default.navbar-purple .navbar-nav > .open > a:hover,
.navbar-default.navbar-purple .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-toggle {
  border-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-toggle:hover,
.navbar-default.navbar-purple .navbar-toggle:focus {
  background-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-purple .navbar-collapse,
.navbar-default.navbar-purple .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-purple .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ba44c1;
  }
}.navbar-default.navbar-red {
  background-color: #d32f2f;
  border-color: #ca0000;
}
.navbar-default.navbar-red .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-brand:hover,
.navbar-default.navbar-red .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-nav > li > a:hover,
.navbar-default.navbar-red .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-nav > .active > a,
.navbar-default.navbar-red .navbar-nav > .active > a:hover,
.navbar-default.navbar-red .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ca0000;
}
.navbar-default.navbar-red .navbar-nav > .open > a,
.navbar-default.navbar-red .navbar-nav > .open > a:hover,
.navbar-default.navbar-red .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ca0000;
}
.navbar-default.navbar-red .navbar-toggle {
  border-color: #ca0000;
}
.navbar-default.navbar-red .navbar-toggle:hover,
.navbar-default.navbar-red .navbar-toggle:focus {
  background-color: #ca0000;
}
.navbar-default.navbar-red .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-red .navbar-collapse,
.navbar-default.navbar-red .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-red .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ca0000;
  }
}.navbar-default.navbar-white {
  background-color: #ffffff;
  border-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-brand {
  color: #000000;
}
.navbar-default.navbar-white .navbar-brand:hover,
.navbar-default.navbar-white .navbar-brand:focus {
  color: #000000;
}
.navbar-default.navbar-white .navbar-text {
  color: #000000;
}
.navbar-default.navbar-white .navbar-nav > li > a {
  color: #000000;
}
.navbar-default.navbar-white .navbar-nav > li > a:hover,
.navbar-default.navbar-white .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default.navbar-white .navbar-nav > .active > a,
.navbar-default.navbar-white .navbar-nav > .active > a:hover,
.navbar-default.navbar-white .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-nav > .open > a,
.navbar-default.navbar-white .navbar-nav > .open > a:hover,
.navbar-default.navbar-white .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-toggle {
  border-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-toggle:hover,
.navbar-default.navbar-white .navbar-toggle:focus {
  background-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default.navbar-white .navbar-collapse,
.navbar-default.navbar-white .navbar-form {
  border-color: #000000;
}
.navbar-default.navbar-white .navbar-link {
  color: #000000;
}
.navbar-default.navbar-white .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #dfdfdf;
  }
}.navbar-default.navbar-yellow {
  background-color: #fcec80;
  border-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-brand {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-brand:hover,
.navbar-default.navbar-yellow .navbar-brand:focus {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-text {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-nav > li > a {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-nav > li > a:hover,
.navbar-default.navbar-yellow .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-nav > .active > a,
.navbar-default.navbar-yellow .navbar-nav > .active > a:hover,
.navbar-default.navbar-yellow .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-nav > .open > a,
.navbar-default.navbar-yellow .navbar-nav > .open > a:hover,
.navbar-default.navbar-yellow .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-toggle {
  border-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-toggle:hover,
.navbar-default.navbar-yellow .navbar-toggle:focus {
  background-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default.navbar-yellow .navbar-collapse,
.navbar-default.navbar-yellow .navbar-form {
  border-color: #000000;
}
.navbar-default.navbar-yellow .navbar-link {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #fcffc7;
  }
}