.navbar-default.navbar-yellow {
  background-color: #fcec80;
  border-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-brand {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-brand:hover,
.navbar-default.navbar-yellow .navbar-brand:focus {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-text {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-nav > li > a {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-nav > li > a:hover,
.navbar-default.navbar-yellow .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-nav > .active > a,
.navbar-default.navbar-yellow .navbar-nav > .active > a:hover,
.navbar-default.navbar-yellow .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-nav > .open > a,
.navbar-default.navbar-yellow .navbar-nav > .open > a:hover,
.navbar-default.navbar-yellow .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-toggle {
  border-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-toggle:hover,
.navbar-default.navbar-yellow .navbar-toggle:focus {
  background-color: #fcffc7;
}
.navbar-default.navbar-yellow .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default.navbar-yellow .navbar-collapse,
.navbar-default.navbar-yellow .navbar-form {
  border-color: #000000;
}
.navbar-default.navbar-yellow .navbar-link {
  color: #000000;
}
.navbar-default.navbar-yellow .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-yellow .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #fcffc7;
  }
}