.navbar-default.navbar-white {
  background-color: #ffffff;
  border-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-brand {
  color: #000000;
}
.navbar-default.navbar-white .navbar-brand:hover,
.navbar-default.navbar-white .navbar-brand:focus {
  color: #000000;
}
.navbar-default.navbar-white .navbar-text {
  color: #000000;
}
.navbar-default.navbar-white .navbar-nav > li > a {
  color: #000000;
}
.navbar-default.navbar-white .navbar-nav > li > a:hover,
.navbar-default.navbar-white .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default.navbar-white .navbar-nav > .active > a,
.navbar-default.navbar-white .navbar-nav > .active > a:hover,
.navbar-default.navbar-white .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-nav > .open > a,
.navbar-default.navbar-white .navbar-nav > .open > a:hover,
.navbar-default.navbar-white .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-toggle {
  border-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-toggle:hover,
.navbar-default.navbar-white .navbar-toggle:focus {
  background-color: #dfdfdf;
}
.navbar-default.navbar-white .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default.navbar-white .navbar-collapse,
.navbar-default.navbar-white .navbar-form {
  border-color: #000000;
}
.navbar-default.navbar-white .navbar-link {
  color: #000000;
}
.navbar-default.navbar-white .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #dfdfdf;
  }
}