.navbar-default.navbar-brown {
  background-color: #8b4513;
  border-color: #b28362;
}
.navbar-default.navbar-brown .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-brand:hover,
.navbar-default.navbar-brown .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-nav > li > a:hover,
.navbar-default.navbar-brown .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-nav > .active > a,
.navbar-default.navbar-brown .navbar-nav > .active > a:hover,
.navbar-default.navbar-brown .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #b28362;
}
.navbar-default.navbar-brown .navbar-nav > .open > a,
.navbar-default.navbar-brown .navbar-nav > .open > a:hover,
.navbar-default.navbar-brown .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #b28362;
}
.navbar-default.navbar-brown .navbar-toggle {
  border-color: #b28362;
}
.navbar-default.navbar-brown .navbar-toggle:hover,
.navbar-default.navbar-brown .navbar-toggle:focus {
  background-color: #b28362;
}
.navbar-default.navbar-brown .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-brown .navbar-collapse,
.navbar-default.navbar-brown .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-brown .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-brown .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-brown .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #b28362;
  }
}