.navbar-default.navbar-purple {
  background-color: #8b00a3;
  border-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-brand:hover,
.navbar-default.navbar-purple .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-nav > li > a:hover,
.navbar-default.navbar-purple .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-nav > .active > a,
.navbar-default.navbar-purple .navbar-nav > .active > a:hover,
.navbar-default.navbar-purple .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-nav > .open > a,
.navbar-default.navbar-purple .navbar-nav > .open > a:hover,
.navbar-default.navbar-purple .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-toggle {
  border-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-toggle:hover,
.navbar-default.navbar-purple .navbar-toggle:focus {
  background-color: #ba44c1;
}
.navbar-default.navbar-purple .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-purple .navbar-collapse,
.navbar-default.navbar-purple .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-purple .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-purple .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-purple .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ba44c1;
  }
}