.navbar-default.navbar-red {
  background-color: #d32f2f;
  border-color: #ca0000;
}
.navbar-default.navbar-red .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-brand:hover,
.navbar-default.navbar-red .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-nav > li > a:hover,
.navbar-default.navbar-red .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-nav > .active > a,
.navbar-default.navbar-red .navbar-nav > .active > a:hover,
.navbar-default.navbar-red .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ca0000;
}
.navbar-default.navbar-red .navbar-nav > .open > a,
.navbar-default.navbar-red .navbar-nav > .open > a:hover,
.navbar-default.navbar-red .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ca0000;
}
.navbar-default.navbar-red .navbar-toggle {
  border-color: #ca0000;
}
.navbar-default.navbar-red .navbar-toggle:hover,
.navbar-default.navbar-red .navbar-toggle:focus {
  background-color: #ca0000;
}
.navbar-default.navbar-red .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-red .navbar-collapse,
.navbar-default.navbar-red .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-red .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-red .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-red .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ca0000;
  }
}