.navbar-default.navbar-black {
  background-color: #000000;
  border-color: #707070;
}
.navbar-default.navbar-black .navbar-brand {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-brand:hover,
.navbar-default.navbar-black .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-text {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-nav > li > a:hover,
.navbar-default.navbar-black .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-nav > .active > a,
.navbar-default.navbar-black .navbar-nav > .active > a:hover,
.navbar-default.navbar-black .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #707070;
}
.navbar-default.navbar-black .navbar-nav > .open > a,
.navbar-default.navbar-black .navbar-nav > .open > a:hover,
.navbar-default.navbar-black .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #707070;
}
.navbar-default.navbar-black .navbar-toggle {
  border-color: #707070;
}
.navbar-default.navbar-black .navbar-toggle:hover,
.navbar-default.navbar-black .navbar-toggle:focus {
  background-color: #707070;
}
.navbar-default.navbar-black .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default.navbar-black .navbar-collapse,
.navbar-default.navbar-black .navbar-form {
  border-color: #ffffff;
}
.navbar-default.navbar-black .navbar-link {
  color: #ffffff;
}
.navbar-default.navbar-black .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default.navbar-black .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #707070;
  }
}