<nav id="navbar" class="navbar navbar-default" [ngClass]="{
'navbar-black': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 1,
'navbar-blue': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 2,
'navbar-brown': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 3,
'navbar-gray': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 4,
'navbar-green': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 5,
'navbar-pink': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 6,
'navbar-purple': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 7,
'navbar-red': !SelectedPokemon || !data[SelectedPokemon.id] || data[SelectedPokemon.id].color_id == 8,
'navbar-white': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 9,
'navbar-yellow': SelectedPokemon && data[SelectedPokemon.id] && data[SelectedPokemon.id].color_id == 10 }">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-sm visible-md visible-lg visible-xl">Pokédex</a>
      <a class="navbar-brand visible-xs hidden-sm">
        <span *ngIf="!ShowPanel">Pokédex</span>
        <span *ngIf="ShowPanel" (click)="ClosePanel()"><i class="fa fa-arrow-left"></i></span>
      </a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input-debounce type="text" name="pokemon-search" (value)="onSearch($event)" placeholder="Search" style="padding: 8px !important;" (enter)="Search_onEnter()"></input-debounce>
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="base.languages[SelectedLang]">{{ base.languages[SelectedLang].getName(SelectedLang) }} </span>
            <span *ngIf="!base.languages[SelectedLang]">???</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let lang of base.languages">
              <a *ngIf="lang && lang.id" (click)="onLanguageChange(lang.id)">{{ lang.getName(lang.id) }}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span *ngIf="base.versions[SelectedVer]">{{ base.versions[SelectedVer].getName(SelectedLang) }} </span>
            <span *ngIf="!base.versions[SelectedVer]">???</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let ver of base.versions">
              <a (click)="onVersionChange(ver.id)">{{ ver.getName(SelectedLang) }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" data-toggle="modal" data-target="#aboutModal">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" [class.hidden]="!working"></div>
</div>
<div class="fluid-container">
  <div>
    <ad *ngIf="ads" class="top-ad col-xs-12 col-sm-3"></ad>
    <div class="col-xs-12 col-sm-3 pokemon-column" [ngClass]="{ 'ad-offset': ads }" (scroll)="ColScroll($event)">
      <div [style.height]="Math.max(0, Math.max(0, scrollPos - 10) * 132)"></div>
      <entry *ngFor="let p of (base.pokemon | filter:search:SelectedVer:SelectedLang) | justafew:scrollPos" [id]="'pokemon-entry-' + p.id" [pokemon]="p" [language]="SelectedLang" (click)="SelectPokemon(p.id)"></entry>
      <div class="search-count" *ngIf="search">
        {{ (base.pokemon | filter:search:SelectedVer:SelectedLang).length }} results for "{{ search }}"
      </div>
      <div [style.height]="Math.max(0,((base.pokemon | filter:search:SelectedVer:SelectedLang).length - scrollPos - 30)) * 132"></div>
    </div>
    <!-- Divider -->
    <div class="col-xs-12 col-sm-9 info-panel info-panel-slide-out" [ngClass]="{ 'info-panel-slide-in': ShowPanel, 'hide-scrollbars': ShowTCGPanel }">
      <div *ngIf="!SelectedPokemon">
        
        <div class="demo-card-welcome mdl-card mdl-shadow--2dp">
          <div class="mdl-card__supporting-text">
            <h4>Welcome to the Pokédex!</h4>
            True masters have looked far and wide to gather the information presented here.<br/>
            <br/>
            I assume your tree based Pokémon professor has just sent you into the wild to collect this info for them.<br/>
            Here's all the information you need to know for the long arduous journey ahead of you.
          </div>
        </div>
          
      </div>
      <div class="two-column">
        <div class="info-column col-lg-3 col-md-12 col-xs-12" *ngIf="SelectedPokemon && data[SelectedPokemon.id]">
          <div class="demo-card-info sugimori-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <img [hidden]="LoadingSugimori" [src]="'/img/art/sa_' + SelectedPokemon.id + '.png'" [alt]="SelectedPokemon.getName(SelectedLang)" class="sugimori-art" (load)="LoadingSugimori = false" />
              <img *ngIf="LoadingSugimori" src="/img/pokeball.png" class="sugimori-art sugimori-loading fa-spin" />
              <div class="pokemon-info-name">
                {{ SelectedPokemon.getName(SelectedLang) }}
              </div>
              <div class="type-line">
                <div>
                  <div *ngFor="let t of SelectedPokemon.types" class="pokemon-type"
                    [style.background-position]="(((t - 1) % 9) * -64) + 'px ' + (Math.floor((t - 1) / 9) * -28) + 'px'"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <span class="dex-version">
                Pokémon {{ base.versions[data[SelectedPokemon.id].getFlavorText(SelectedVer, SelectedLang)[0]].getName(SelectedLang) }}
              </span>
              {{ data[SelectedPokemon.id].getFlavorText(SelectedVer, SelectedLang)[1] }}
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="line-info">
                <span class="line-name">Species</span>
                <span class="line-value">{{ data[SelectedPokemon.id].getGenus(SelectedLang) }} Pokémon</span>
              </div>
              <div class="line-info">
                <span class="line-name">Habitat</span>
                <span class="line-value">{{ data[SelectedPokemon.id].getHabitatName(SelectedLang) }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Gender Ratio</span>
                <span class="line-value" *ngIf="data[SelectedPokemon.id].gender_rate != -1">
                  {{ ((8 - data[SelectedPokemon.id].gender_rate) / 8 * 100).toFixed(1) }} <i class="fa fa-mars"></i>
                  /
                  {{ (data[SelectedPokemon.id].gender_rate / 8 * 100).toFixed(1) }} <i class="fa fa-venus"></i>
                </span>
                <span class="line-value" *ngIf="data[SelectedPokemon.id].gender_rate == -1">genderless</span>
              </div>
              <div class="line-info">
                <span class="line-name">Egg Groups</span>
                <span class="line-value">{{ data[SelectedPokemon.id].getEggGroupNames(SelectedLang) }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Hatch Counter</span>
                <span class="line-value">{{ data[SelectedPokemon.id].hatch_counter }} ({{ data[SelectedPokemon.id].hatch_counter * 255 }} steps)</span>
              </div>
              <div class="line-info">
                <span class="line-name">Growth Rate</span>
                <span class="line-value">{{ data[SelectedPokemon.id].getGrowthRateName(SelectedLang) }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Capture Rate</span>
                <span class="line-value">{{ data[SelectedPokemon.id].capture_rate }} ({{ data[SelectedPokemon.id].getCaptureRate().toFixed(2) }}%) Pokéball, Full HP</span>
              </div>
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <span class="ability-stack">
                <div *ngFor="let a of data[SelectedPokemon.id].getAbilities()">
                  <div *ngIf="a">
                    <strong>
                      <span *ngIf="a.hidden">Hidden </span>Ability: {{ a.getName(SelectedLang) }}
                    </strong>
                    <br/>
                    {{ a.getFlavorText(base.versions[SelectedVer].version_group_id, SelectedLang) }}
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
        
        <div class="info-column col-lg-3 col-md-12 col-xs-12" *ngIf="SelectedPokemon && data[SelectedPokemon.id]">
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="line-info" *ngFor="let dex of data[SelectedPokemon.id].dex_numbers">
                <span class="line-name">{{ dex.getName(SelectedLang) }}</span>
                <span class="line-value">{{ dex.number }}</span>
              </div>
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="double-line-info">
                <span class="line-name">Height</span>
                <div class="line-value">
                  <div>{{ data[SelectedPokemon.id].height | measure:'height':false }}</div>
                  <div>{{ data[SelectedPokemon.id].height | measure:'height':true }}</div>
                </div>
              </div>
              <div class="double-line-info">
                <span class="line-name">Weight</span>
                <div class="line-value">
                  <div>{{ data[SelectedPokemon.id].weight | measure:'weight':false }}</div>
                  <div>{{ data[SelectedPokemon.id].weight | measure:'weight':true }}</div>
                </div>
              </div>
              <div class="centered-line-info">
                {{ data[SelectedPokemon.id].shape.getName(SelectedLang) }}
                ({{ data[SelectedPokemon.id].shape.getAwesomeName(SelectedLang) }})
              </div>
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="line-info">
                <span class="line-name">Base EXP</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_experience }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base Effort</span>
                <span class="line-value">{{ data[SelectedPokemon.id].getEffortValue() }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base Happiness</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_happiness }}</span>
              </div>
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="line-info">
                <span class="line-name">Base HP</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_hp }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base ATK</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_attack }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base DEF</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_defense }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base SA</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_sp_attack }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base SD</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_sp_defense }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Base SPD</span>
                <span class="line-value">{{ data[SelectedPokemon.id].base_speed }}</span>
              </div>
            </div>
          </div>
          <ad *ngIf="ads"></ad>
        </div>
      </div>
      
      <div class="two-column">
        <div class="info-column col-lg-3 col-md-12 col-xs-12" *ngIf="SelectedPokemon && data[SelectedPokemon.id]">
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div *ngFor="let evo of data[SelectedPokemon.id].evolution_chain, let root = first, let final = last">
                <div class="root-link" *ngIf="root" (click)="SelectPokemon(evo.id_from)">
                  <div class="pokemon-sprite"
                    [style.background-position]="((evo.id_from % 19) * -96) + 'px ' + (Math.floor(evo.id_from / 19) * -96) + 'px'"></div>
                  <span class="pokemon-name">
                    {{ base.pokemon[evo.id_from].getName(SelectedLang) }}
                  </span>
                </div>
                <div class="evo-link" *ngIf="evo.id_to" (click)="SelectPokemon(evo.id_to)">
                  <div class="pokemon-sprite"
                    [style.background-position]="((evo.id_from % 19) * -96) + 'px ' + (Math.floor(evo.id_from / 19) * -96) + 'px'"></div>
                  <i class="fa fa-long-arrow-right"></i>
                  <div class="pokemon-sprite"
                    [style.background-position]="((evo.id_to % 19) * -96) + 'px ' + (Math.floor(evo.id_to / 19) * -96) + 'px'"></div>
                  <span class="pokemon-name">
                    {{ base.pokemon[evo.id_to].getName(SelectedLang) }}
                  </span>
                </div>
                <div class="evo-explain" *ngIf="evo.id_to" [ngClass]="{ 'evo-explain-final': final }">
                  {{ evo.evo.generateExplaination() }}
                </div>
              </div>
            </div>
          </div>
          
          <div class="demo-card-info mdl-card mdl-shadow--2dp" *ngIf="data[SelectedPokemon.id].hasForms()">
            <div class="mdl-card__supporting-text">
              <div *ngFor="let form of data[SelectedPokemon.id].forms, let first = first">
                <div [ngClass]="{ 'pokemon-form': !first }" style="position: relative">
                  <div class="pokemon-sprite" *ngIf="form.id < 10000"
                  [style.background-position]="((form.id % 19) * -96) + 'px ' + (Math.floor(form.id / 19) * -96) + 'px'"></div>
                  <div class="form-sprite" *ngIf="form.id >= 10000"
                  [style.background-position]="(((form.id - 10001) % 16) * -96) + 'px ' + (Math.floor((form.id - 10001) / 16) * -96) + 'px'"></div>
                  <span style="margin-left: 12px;">
                  {{ form.getName(SelectedLang) }}
                  </span>
                  <div class="type-stack" *ngIf="form.types && form.types.length > 0">
                    <div>
                      <div *ngFor="let t of form.types" class="pokemon-type"
                        [style.background-position]="(((t - 1) % 9) * -64) + 'px ' + (Math.floor((t - 1) / 9) * -28) + 'px'"></div>
                    </div>
                  </div>
                  <div class="type-stack" *ngIf="!form.types">
                    <div>
                      <div *ngFor="let t of SelectedPokemon.types" class="pokemon-type"
                        [style.background-position]="(((t - 1) % 9) * -64) + 'px ' + (Math.floor((t - 1) / 9) * -28) + 'px'"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="info-column col-lg-3 col-md-12 col-xs-12" *ngIf="SelectedPokemon && data[SelectedPokemon.id]">
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="centered-line-info moves-header">
                Moves Learned By 
                <select [(ngModel)]="MovesLearnedType">
                  <option value='1'>Leveling</option>
                  <option value='2' *ngIf="data[SelectedPokemon.id].AnyMovesLearnedByMethod(base.versions[SelectedVer].version_group_id, 2)">Egg</option>
                  <option value='3' *ngIf="data[SelectedPokemon.id].AnyMovesLearnedByMethod(base.versions[SelectedVer].version_group_id, 3)">Tutor</option>
                  <option value='4' *ngIf="data[SelectedPokemon.id].AnyMovesLearnedByMethod(base.versions[SelectedVer].version_group_id, 4)">Machines</option>
                </select>
              </div>
              <div *ngFor="let m of data[SelectedPokemon.id].getMoves(base.versions[SelectedVer].version_group_id, MovesLearnedType)" class="move-entry">
                <div class="type-badge"
                  [style.background-position]="(((m.type_id - 1) % 9) * -25) + 'px ' + (Math.floor((m.type_id - 1) / 9) * -25) + 'px'"></div>
                {{ m.getName(SelectedLang) }}
                <span class="move-detail" *ngIf="MovesLearnedType == 1">, lvl {{ m.level }}</span>
                <span class="move-detail" *ngIf="MovesLearnedType == 4">, {{ m.machine }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="SelectedPokemon.cards.length" class="demo-card-info mdl-card mdl-shadow--2dp tcg-button" (click)="OpenTCGPanel()">
            <div class="mdl-card__supporting-text">
              <div class="text-center">
                <strong>View Trading Cards for {{ SelectedPokemon.getName(SelectedLang) }}</strong>
              </div>
            </div>
          </div>
          <ad *ngIf="ads"></ad>
        </div>
      </div>
      <!-- Desktop TCG Data (md-xl) -->
      <div class="col-md-12 desktop-tcg-panel hidden-xs hidden-sm" *ngIf="ShowTCGPanel && SelectedPokemon && SelectedPokemon.cards.length">
        <div class="col-md-6 info-column tcg-column" style="padding-left: 0px;">
          <div class="demo-card-info mdl-card mdl-shadow--2dp tcg-button" (click)="ClosePanel()">
            <div class="mdl-card__supporting-text text-center">
              <span class="tcg-back-button"><i class="fa fa-3x fa-arrow-left"></i></span>
              <strong>Back to Game Data</strong>
            </div>
          </div>
          <div class="demo-card-info sugimori-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <img [hidden]="LoadingSugimori" [src]="'/img/art/sa_' + SelectedPokemon.id + '.png'" [alt]="SelectedPokemon.getName(SelectedLang)" class="sugimori-art" (load)="LoadingSugimori = false" />
              <img *ngIf="LoadingSugimori" src="/img/pokeball.png" class="sugimori-art sugimori-loading fa-spin" />
              <div class="pokemon-info-name">
                {{ SelectedPokemon.getName(SelectedLang) }}
              </div>
            </div>
          </div>
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <span class="ability-stack">
                <div *ngFor="let c of SelectedPokemon.cards, let i = index" class="tcg-button" (click)="SelectCard(i)">
                    <strong>
                      {{ c.name }}
                    </strong>
                    <br/>
                    {{ c.set }} #{{ c.number }}<span *ngIf="GetCardSet(c.setCode)"> / {{ GetCardSet(c.setCode).totalCards }}</span>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 info-column tcg-column">
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text text-center">
              <img class="card" [src]="SelectedPokemon.cards[SelectedTCGCard].imageUrl" [alt]="SelectedPokemon.cards[SelectedTCGCard].name" />
            </div>
          </div>
          <div class="demo-card-info mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <div class="text-center">
                <strong>{{ SelectedPokemon.cards[SelectedTCGCard].name }}</strong>
              </div>
              <div class="line-info">
                <span class="line-name">Number in Set</span>
                <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].number }}
                  <span *ngIf="GetCardSet(SelectedPokemon.cards[SelectedTCGCard].setCode)"> / {{ GetCardSet(SelectedPokemon.cards[SelectedTCGCard].setCode).totalCards }}</span>
                </span>
              </div>
              <div class="line-info">
                <span class="line-name">Series</span>
                <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].series }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Set</span>
                <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].set }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Rarity</span>
                <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].rarity }}</span>
              </div>
              <div class="line-info">
                <span class="line-name">Artist</span>
                <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].artist }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Desktop TCG Data (sm) -->
      <div class="col-sm-12 tcg-panel-md hidden-xs hidden-md hidden-lg" [ngClass]="{ 'hidden': !ShowTCGPanel }" *ngIf="SelectedPokemon && SelectedPokemon.cards">
        <div class="demo-card-info mdl-card mdl-shadow--2dp tcg-button" (click)="ClosePanel()">
          <div class="mdl-card__supporting-text text-center">
            <span class="tcg-back-button"><i class="fa fa-3x fa-arrow-left"></i></span>
            <strong>Back to Game Data</strong>
          </div>
        </div>
        <div class="text-center" *ngIf="CardGallery" style="font-weight: 900;">
          {{ SelectedTCGCard + 1 }} / {{ SelectedPokemon.cards.length }}
        </div>
        <div class="gallery gallery-sm js-flickity">
          <div class="gallery-cell" *ngFor="let c of SelectedPokemon.cards, let i = index">
            <img class="card" [src]="c.imageUrl" [alt]="c.name" (click)="SelectCard(i)" />
          </div>
        </div>
        <div class="demo-card-info tcg-card mdl-card mdl-shadow--2dp" *ngIf="CardGallery && SelectedPokemon.cards[SelectedTCGCard]">
          <div class="mdl-card__supporting-text">
            <div class="text-center">
              <strong>{{ SelectedPokemon.cards[SelectedTCGCard].name }}</strong>
            </div>
            <div class="line-info">
              <span class="line-name">Number in Set</span>
              <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].number }}
                <span *ngIf="GetCardSet(SelectedPokemon.cards[SelectedTCGCard].setCode)"> / {{ GetCardSet(SelectedPokemon.cards[SelectedTCGCard].setCode).totalCards }}</span>
              </span>
            </div>
            <div class="line-info">
              <span class="line-name">Series</span>
              <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].series }}</span>
            </div>
            <div class="line-info">
              <span class="line-name">Set</span>
              <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].set }}</span>
            </div>
            <div class="line-info">
              <span class="line-name">Rarity</span>
              <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].rarity }}</span>
            </div>
            <div class="line-info">
              <span class="line-name">Artist</span>
              <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].artist }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile TCG Data (xs) -->
    <div class="col-xs-12 tcg-panel tcg-panel-slide-out hidden-sm hidden-md hidden-lg" [ngClass]="{ 'tcg-panel-slide-in': ShowTCGPanel }" *ngIf="SelectedPokemon && SelectedPokemon.cards">
      <div class="text-center" *ngIf="CardGallery" style="font-weight: 900;">
        {{ SelectedTCGCard + 1 }} / {{ SelectedPokemon.cards.length }}
      </div>
      <div class="gallery gallery-xs js-flickity">
        <div class="gallery-cell" *ngFor="let c of SelectedPokemon.cards, let i = index">
          <img class="card" [src]="c.imageUrl" [alt]="c.name" (click)="SelectCard(i)" />
        </div>
      </div>
      <div class="demo-card-info tcg-card mdl-card mdl-shadow--2dp" *ngIf="CardGallery && SelectedPokemon.cards[SelectedTCGCard]">
        <div class="mdl-card__supporting-text">
          <div class="text-center">
            <strong>{{ SelectedPokemon.cards[SelectedTCGCard].name }}</strong>
          </div>
          <div class="line-info">
            <span class="line-name">Number in Set</span>
            <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].number }}
              <span *ngIf="GetCardSet(SelectedPokemon.cards[SelectedTCGCard].setCode)"> / {{ GetCardSet(SelectedPokemon.cards[SelectedTCGCard].setCode).totalCards }}</span>
            </span>
          </div>
          <div class="line-info">
            <span class="line-name">Series</span>
            <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].series }}</span>
          </div>
          <div class="line-info">
            <span class="line-name">Set</span>
            <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].set }}</span>
          </div>
          <div class="line-info">
            <span class="line-name">Rarity</span>
            <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].rarity }}</span>
          </div>
          <div class="line-info">
            <span class="line-name">Artist</span>
            <span class="line-value">{{ SelectedPokemon.cards[SelectedTCGCard].artist }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
          <h4 class="modal-title" id="myModalLabel">About Material Pokédex</h4>
        </div>
        <div class="modal-body">
          Made by <a href="http://coreyogburn.com" target="_blank">Corey Ogburn</a>. Follow me on Twitter: <a href="https://twitter.com/coreyog" target="_blank">@coreyog</a><br/>
          <br/>
          Special Thanks to some very talanted people:<br/>
          <a href="http://xous54.deviantart.com/art/Hoopa-410943259" target="_blank">Hoopa by Xous54</a><br/>
          <a href="http://xous54.deviantart.com/art/Volcanion-410762745" target="_blank">Volcanion by Xous54</a><br/>
          <a href="http://icaro382.deviantart.com/art/Mega-Latios-and-Latias-435894523" target="_blank">Mega Latias by icaro382</a><br/>
          <a href="http://theangryaron.deviantart.com/art/Mega-Latios-410852392" target="_blank">Mega Latios by TheAngryAron</a><br/>
          <a href="http://theangryaron.deviantart.com/art/Mega-Rayquaza-485963151" target="_blank">Mega Rayquaza by TheAngryAron</a><br/>
          <a href="https://www.teepublic.com/user/toxicgamingtees" target="_blank">Move Type Badges designed by Brendan Lloyd</a><br/>
          <a href="https://dribbble.com/shots/2214760-Pokedex-App-Icon" target="_blank">Favicon</a> designed by <a href="http://joekotlan.com/" target="_blank">Joe Kotlan</a><br/>
          <br/>
          <a href="https://pokemontcg.io/">Pokémon TCG data provided by Andrew Backes' API</a><br/>
          <br/>
          <strong>
            Pokémon © 2002-2016 Pokémon. © 1995-2016 Nintendo/Creatures Inc./GAME FREAK inc. TM, ® and Pokémon character names are trademarks of Nintendo.
          </strong><br/>
          <br/>
          No copyright or trademark infringement is intended in using Pokémon content on Material Pokédex.<br/>
          <br/>
          <a href="https://bitbucket.org/coreyog/materialpokedex" target="_blank">This project is Open Source and available on BitBucket.</a>
        </div>
        <div class="modal-footer">
          <label for="checkbox-1">
            <input type="checkbox" id="checkbox-1" style="margin-top: 2px;" [checked]="ads" (change)="ToggleAds()"/>
            Completely optional ads
          </label>
          <div class="footer-spacer"></div>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>