<div class="input-group">
  <input type="text" class="form-control" [placeholder]="placeholder" [(ngModel)]="inputValue" (keydown.enter)="onEnter()">
  <span class="input-group-btn">
    <button class="btn btn-default clear-btn" (click)="onClear()" type="button"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button>
  </span>
</div>