<div class="demo-card-wide mdl-card mdl-shadow--2dp" *ngIf="pokemon">
  <div class="mdl-card__supporting-text">
    <span class="pokemon-number">
      {{ pokemon.id }}
    </span>
    <div>
      <div class="pokemon-sprite"
        [style.background-position]="((pokemon.id % 19) * -96) + 'px ' + (Math.floor(pokemon.id / 19) * -96) + 'px'"></div>
      <span class="pokemon-name vertical-align">
        {{ pokemon.getName(language) }}
      </span>
      <div class="type-stack">
        <div>
          <div *ngFor="let t of pokemon.types" class="pokemon-type"
            [style.background-position]="(((t - 1) % 9) * -64) + 'px ' + (Math.floor((t - 1) / 9) * -28) + 'px'"></div>
        </div>
      </div>
    </div>
  </div>
</div>